.list , .ddmenu-list-g , .ddmenu-list-d , .ddmenu-list-dj , .ddmenu-list-w , .ddmenu-list-k , .ddmenu-list-gd , .topnav{
    z-index: 3;
}
.About {
    position: absolute;
    width:600px;
    top: 110px;
    margin-left: 350px;
    z-index: 2;
}

.OTHER{
    position: absolute;
    width:600px;
    top:50px;
    margin-left: 350px;
    
}

.bg_img {
    z-index: 1;
}
.bg_pos {
    position: fixed;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #111;}
  
  ul.topnav li a.active {background-color: #4CAF50;}



.main {
    z-index: 2;
}

.ddmenu-list-g {
    position: relative;
    left: 230px;
    top: -30px;
    background-color: #AFEEEE;
    display: none;
    border: 2px solid lightblue;
}
.ddmenu-link-g:hover .ddmenu-list-g{display: block;}
.gray:hover {
    color: gray;
}





.ddmenu-list-d {
    position: relative;
    left: 230px;
    top: -30px;
    background-color: #AFEEEE;
    display: none;
    border: 2px solid lightblue;
}
.ddmenu-link-d:hover .ddmenu-list-d{display: block;}



.ddmenu-list-dj {
    position: relative;
    left: 230px;
    top: -30px;
    background-color: #AFEEEE;
    display: none;
    border: 2px solid lightblue;
}
.ddmenu-link-dj:hover .ddmenu-list-dj{display: block;}



.ddmenu-list-w {
    position: relative;
    left: 230px;
    top: -60px;
    background-color: #AFEEEE;
    display: none;
    border: 2px solid lightblue;
}
.ddmenu-link-w:hover .ddmenu-list-w{display: block;}



.ddmenu-list-k {
    position: relative;
    left: 230px;
    top: -60px;
    background-color: #AFEEEE;
    display: none;
    border: 2px solid lightblue;
}
.ddmenu-link-k:hover .ddmenu-list-k{display: block;}


.ddmenu-list-gd {
    position: relative;
    left: 230px;
    top: -60px;
    background-color: #AFEEEE;
    display: none;
    border: 2px solid lightblue;
}
.ddmenu-link-gd:hover .ddmenu-list-gd{display: block;}

@media screen and (max-width: 600px) {
    .topnav {width: 650px;}
    body {width: 650px;}
    ul.topnav li {float: none;}
    .list {display:none;}
    .About{
        left: -330px;
        top: 25%;
    }
    .OTHER {
        left: -330px;
        top: 150px;
    } 
  }